{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Information About {{ address }}</h1>

<form action="/process_form1" method="POST">
  <div class="row mb-3 text-center">
    <div class="col-4 themed-grid-col">Cap Rate: {{ cap_rate }}</div>
    <div class="col-4 themed-grid-col">Net Operating Income: {{ noi }}</div>
    <div class="col-4 themed-grid-col">Monthly Rent: {{monthly_rent}}</div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col-4 themed-grid-col">Rental Income: {{annual_rental_income}}</div>
    <div class="col-4 themed-grid-col">Expenses: {{expenses}}</div>
    <div class="col-4 themed-grid-col">Zoning: {{zoning}}</div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col-4 themed-grid-col">Square Feet: {{sqft}}</div>
    <div class="col-4 themed-grid-col">Property Value: {{property_value}}</div>
    <div class="col-4 themed-grid-col">Number of Beds {{num_beds}}</div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col-4 themed-grid-col">Acres {{acres}}</div>
    <div class="col-4 themed-grid-col">Extraterritorial Jurisdiction {{etj}}</div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col-6 themed-grid-col">Test Input 1:<input type="text" class="form-control" id="test_input" placeholder="1" value="" required=""></div>
    <div class="col-6 themed-grid-col">Test Input 2:<input type="text" class="form-control" id="test_input" placeholder="1" value="" required=""></div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col-4 themed-grid-col"></div>
    <div class="col-4 themed-grid-col"><button type="submit" class="btn btn-primary">Update Info</button></div>
    <div class="col-4 themed-grid-col"></div>
  </div>
  

</form>
<form method="POST">
  <div class="row">
    <div class="col-sm-4"></div>
  </div>
  <br />
    <button type="submit" class="btn btn-primary">Add Favorite</button>
    </div>
</form>
{% endblock %}
