{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Information About {{ address }}</h1>

<form action="/process_form1" method="POST">
  <p>Cap Rate: {{ cap_rate }}</p>
  <p>Net Operating Income: {{ noi }}</p>
  <p> Monthly Rent: {{monthly_rent}} </p>
  <p> Rental Income: {{annual_rental_income}} </p>
  <p> Expenses: {{expenses}} </p>
  <p> Zoning: {{zoning}} </p>
  <p> Square Feet: {{sqft}} </p>
  <p> Property Value: {{property_value}} </p>
  <p> Number of Beds {{num_beds}} </p>
  <p> Acres {{acres}} </p>
  <p> Extraterritorial Jurisdiction {{etj}} </p>
  
  

  <div class="form-group">
    <label for="sel2">Change Input 1:</label>
    <select class="form-control" id="sel2" name="selected_value_one">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sel2">Change Input 2:</label>
    <select class="form-control" id="sel2" name="selected_value_two">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Update Info</button>
</form>
<form method="POST">
  <div class="row">
    <div class="col-sm-4"></div>
  </div>
  <br />
    <button type="submit" class="btn btn-primary">Add Favorite</button>
    </div>
</form>
{% endblock %}
