{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Information About <div>{{ address }}</div></h1>
  <h2 class="my-2">Grade: <span id='grade'>--</span></h2>
  
  <form action="/process_form1" method="POST" onsubmit="calculateCapRate(event)">
    <div class="slide-container">
      <div id="slide-1">
        <!-- First Row: Cap Rate, Net Operating Income, Monthly Rent -->
        <div class="row mb-3 text-center">
          <div class="col-4 themed-grid-col"><details>
            <summary>Cap Rate</summary>
            <div id="cap_rate">--%</div>
          </details>
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Net Operating Income</summary>
              <div id="noi">--</div>
            </details> 
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Monthly Rent</summary>
              <input type="number" id="monthly_rent" class="form-control" value="{{ monthly_rent }}" step="1" required>
            </details> 
          </div>
        </div>
      
        <!-- Second Row: Rental Income, Expenses, Zoning -->
        <div class="row mb-3 text-center">
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Rental Income</summary>
              <div id="annual_rental_income" class="form">--</div>
            </details> 
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Expenses</summary>
              <div id="expenses" class="form">--</div>
            </details> 
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Zoning</summary>
              <div>{{ zoning }}</div>
            </details> 
          </div>
        </div>
      
        <!-- Third Row: Square Feet, Property Value, Number of Beds -->
        <div class="row mb-3 text-center">
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Square Feet</summary>
              <input type="number" id="sqft" class="form-control" value="{{ sqft }}" step="1" required>
            </details> 
            
            
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Property Value</summary>
              <input type="number" id="property_value" class="form-control" value="{{ property_value }}" step="1" required>
            </details>             
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Number of Beds</summary>
              <div>{{ num_beds }}</div>
            </details>  
          </div>
        </div>
      
        <!-- Fourth Row: Acres, ETJ, Number of Units -->
        <div class="row mb-3 text-center">
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Acres</summary>
              <div>{{ acres }}</div>
            </details>   
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Extraterritorial Jurisdiction</summary>
              <div>{{ etj }}</div>
            </details>
          </div>
          <div class="col-4 themed-grid-col">
            <details>
              <summary>Number of Units</summary>
              <input type="number" id="num_units" class="form-control" value="{{ num_units }}" min="1" required>
            </details>            
          </div>
        </div>
      
        <!-- Fifth Row: Vacancy Allowance Percentage and Is Gas Toggle -->
        <div class="row mb-3 text-center">
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Vacancy Allowance Percentage</summary>
              <input type="range" id="vacancy_allowance_pct" class="form-control" value="{{ vacancy_allowance_pct }}" min="0" max="100" step="1" oninput="this.nextElementSibling.value = this.value">
              <output>{{ vacancy_allowance_pct }}</output>%
            </details>  
            
          </div>
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Is Gas</summary>
              <input type="checkbox" id="isGas" {% if isGas %}checked{% endif %}>
            </details>  
          </div>
        </div>
      </div>
      <div id="slide-2" style="display: none;">
        <!-- First Row: Cap Rate, Net Operating Income, Monthly Rent -->
        <!-- estimateLegalCost(annualRentalIncome, numUnits),
        estimateHeatingCost(isGas, sqft),
        estimateInsuranceCost(propertyValue),
        estimateGarbageCost(numUnits, true),
        estimateWaterCost(numBeds),
        managementReserveCost(annualRentalIncome),
        maintenenceReserveCost(annualRentalIncome),
        calculatePropertyTax(etj, propertyValue),
        calculateLawnSnowCost(acres) -->
        <div class="row mb-3 text-center">
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Legal Cost</summary>
              <input type="number" id="legal" class="form-control" value="{{ legal }}">
            </details> 
          </div>
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Utility Cost</summary>
              <input type="number" id="utility-cost" class="form-control" value="{{ utilities }}" min="1" required>
            </details>   
          </div>
        </div>

        <div class="row mb-3 text-center">
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Management Reserve Percent</summary>
              <input type="number" id="managementPct" class="form-control" value="8" min="1" required>
            </details>   
          </div>
          <div class="col-6 themed-grid-col">
            <details>
              <summary>Maintenence Reserve Percent</summary>
              <input type="number" id="maintenencePct" class="form-control" value="4" min="1" required>
            </details>                         
          </div>
        </div>

        <div class="row mb-3 text-center">
          <div class="col-3 themed-grid-col">
            <details>
              <summary>Management Reserve</summary>
              <div id="managementReserve" class="form">--</div>
            </details> 
          </div>
          <div class="col-3 themed-grid-col">
            <details>
              <summary>Maintenence Reserve</summary>
              <div id="maintenenceReserve" class="form">--</div>
            </details> 
          </div>
          <div class="col-3 themed-grid-col">
            <details>
              <summary>Property Tax</summary>
              <div id="property-tax" class="form">--</div>
            </details> 
          </div>
          <div class="col-3 themed-grid-col">
            <details>
              <summary>Total Expenses</summary>
              <div id="total-expenses" class="form">--</div>
            </details> 
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center my-3">
      <div class="col-12 d-flex justify-content-between">
        <button id="prev-button" type="button" class="btn btn-secondary" disabled onclick="prevSlide()">← Previous</button>
        <button id="next-button" type="button" class="btn btn-secondary" onclick="nextSlide()">Next →</button>
      </div>
    </div>
  
    <!-- Submit Button -->
    <div class="row mb-3 text-center">
      <div class="col-4 themed-grid-col"></div>
      <div class="col-4 themed-grid-col">
        <button type="submit" class="btn btn-primary">Update Info</button>
      </div>
      <div class="col-4 themed-grid-col"></div>
    </div>
  
    <!-- Similar Homes Section -->
    <h2 align="center">Similar Homes</h2>
    <div class="row mb-3 text-center">
      <div class="col-4 themed-grid-col"><a href="{{ all_link[0][-1] }}">{{ all_link[0][0] }}</a></div>
      <div class="col-4 themed-grid-col"><a href="{{ all_link[1][-1] }}">{{ all_link[1][0] }}</a></div>
      <div class="col-4 themed-grid-col"><a href="{{ all_link[2][-1] }}">{{ all_link[2][0] }}</a></div>
    </div>
  </form>
  <form method="POST">
    <div class="row">
      <div class="col-sm-4"></div>
    </div>
    <br />
      <button onclick="submitCapRate()" type="submit" class="btn btn-primary">Add Favorite</button>
      <script>
        function submitCapRate() {
            const capRate = document.getElementById('cap_rate').textContent.trim();
            console.log(capRate)
            fetch('/submit_cap_rate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cap_rate: capRate })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Response from backend:', data);
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
      </div>
</form>

<!-- Script to import external JS and calculate Cap Rate dynamically -->
<script src="{{ url_for('static', filename='expenses.js') }}"></script>
<script>
  let currentSlide = 1;
  const totalSlides = 2;

  function showSlide(slideIndex) {
      for (let i = 1; i <= totalSlides; i++) {
          document.getElementById(`slide-${i}`).style.display = (i === slideIndex) ? 'block' : 'none';
      }
      if (currentSlide === totalSlides) {
          document.getElementById(`next-button`).disabled = true
          document.getElementById(`prev-button`).disabled = false
      } else if (currentSlide === 1) {
          document.getElementById(`next-button`).disabled = false
          document.getElementById(`prev-button`).disabled = true
      } else {
          document.getElementById(`next-button`).disabled = false
          document.getElementById(`prev-button`).disabled = false
      }
  }

  function nextSlide() {
      if (currentSlide < totalSlides) {
          currentSlide++;
          showSlide(currentSlide);
      }
  }

  function prevSlide() {
      if (currentSlide > 1) {
          currentSlide--;
          showSlide(currentSlide);
      }
  }

  function calculateCapRate(event) {
      event.preventDefault(); // Prevent form submission to allow client-side calculation
      console.log("button pressed")
      try {
          const monthlyRent = parseFloat(document.getElementById('monthly_rent').value) || 0;
          const vacancyAllowancePct = parseFloat(document.getElementById('vacancy_allowance_pct').value) / 100 || 0;
          const numUnits = parseInt(document.getElementById('num_units').value) || 1;
          const sqft = parseFloat(document.getElementById('sqft').value) || 0;
          const propertyValue = parseFloat(document.getElementById('property_value').value) || 0;
          const isGas = document.getElementById('isGas').checked;
          const etj = "{{ etj }}";  // Pass the ETJ value dynamically if required
          const acres = parseFloat("{{ acres }}");
          const legal = parseFloat(document.getElementById('legal').value) || 0
          const utilities = parseFloat(document.getElementById('utility-cost').value) || 0
          const maintenencePct = parseFloat(document.getElementById('maintenencePct').value) / 100 || 0.08
          const managementPct = parseFloat(document.getElementById('managementPct').value) / 100 || 0.04

          if (propertyValue <= 0) {
              throw new Error(`Invalid input values. Property Value: ${propertyValue}`);
          }

          const annualRentalIncome = monthlyRent * 12 * (1 - vacancyAllowancePct);
          const expenses = estimateExpenses(
            annualRentalIncome, numUnits, isGas, sqft, propertyValue, numUnits, etj, acres,
            legal, utilities, maintenencePct, managementPct
          );
          const noi = annualRentalIncome - expenses;
          const capRate = (noi / propertyValue) * 100;
          const grade = gradeHouse(capRate, noi, propertyValue, monthlyRent, vacancyAllowancePct, numUnits, sqft, 0, expenses, 0)

          console.log(grade.score)
          console.log(grade.finalScore)

          document.getElementById('managementReserve').innerText = '$' + (managementPct * annualRentalIncome).toFixed(2);
          document.getElementById('maintenenceReserve').innerText = '$' +(maintenencePct * annualRentalIncome).toFixed(2);
          document.getElementById('property-tax').innerText = '$' + calculatePropertyTax(etj, propertyValue).toFixed(2);
          document.getElementById('expenses').innerText = '$' + expenses.toFixed(2);
          document.getElementById('expenses').innerText = '$' + expenses.toFixed(2);

          document.getElementById('grade').innerText = grade.grade;
          document.getElementById('total-expenses').innerText = '$' + expenses.toFixed(2);
          document.getElementById('annual_rental_income').innerText = '$' + annualRentalIncome.toFixed(2);
          document.getElementById('cap_rate').innerText = capRate.toFixed(2) + '%';
          document.getElementById('noi').innerText = '$' + noi.toFixed(2);
          sendCapRateAndNoiToBackend(capRate, noi);
      } catch (error) {
          document.getElementById('cap_rate').innerText = "Error";
          document.getElementById('noi').innerText = "Error";
          console.error("Error calculating Cap Rate or NOI:", error);
      }
  }
  function sendCapRateAndNoiToBackend(capRate, noi) {
    fetch('/submit_cap_rate_and_noi', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            cap_rate: capRate,
            noi: noi
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log('Response from backend:', data);
    })
    .catch(error => console.error('Error sending data to backend:', error));
}
  document.addEventListener('DOMContentLoaded', calculateCapRate);

</script>
{% endblock %}
