{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Variables Explained</h1>
<ul>
  <li>
    <strong> Capitalization rate </strong> (cap rate) is a metric used to
    estimate the potential rate of return on an income-generating real estate
    investment property. It's calculated by dividing the property's net
    operating income (NOI) by its asset value and expressed as a percentage.
  </li>
  <li>
    <strong> Net operating income </strong> (NOI) is a metric that measures the
    profitability of an investment property by subtracting operating expenses
    from total income.
  </li>
  <li>
    <strong>Monthly rent</strong> is the amount of money paid to a landlord on a
    monthly basis in exchange for the right to live in a rental property.
  </li>
  <li>
    <strong> Rental income </strong> is typically considered unearned income by
    tax authorities like the Internal Revenue Service (IRS).
  </li>
  <li>
    <strong> Expenses </strong> means the costs (including, but not limited to,
    payroll, taxes, assessments, insurance, utilities, landscaping and other
    similar charges) of operating and maintaining any Property
  </li>
  <li>
    <strong>Zoning </strong>is the local law that regulates how property can be
    used
  </li>
  <li>
    <strong> Square footage </strong> of a property is a measurement of its
    living space calculated in square feet.
  </li>
  <li>
    <strong> Property value </strong> refers to the estimated worth of a real
    estate asset, determined by factors like its location, size, condition, and
    market demand
  </li>
  <li>
    <strong> Number of beds </strong> in a home refers to the total count of
    bedrooms within a house
  </li>
  <li>
    <strong> Acre </strong> is a unit of land measurement that is equal to
    43,560 square feet, or 4,840 square yards per acre.
  </li>
  <li>
    <strong>Extraterritorial jurisdiction </strong>(ETJ) is the legal authority
    of a state to exercise power outside of its territory
  </li>
  <li>
    <strong> Number of units </strong> in housing refers to the total count of
    separate living quarters within a building or property
  </li>
  <li>
    <strong> Vacancy allowance percentage </strong> refers to the estimated
    percentage of potential rental income a property owner might lose due to
    units being vacant
  </li>
  <li>
    <strong> Is gas </strong> means whether a home is equipped with natural gas
    lines, allowing it to use gas appliances like a furnace for heating, a water
    heater for hot water, and a stove or oven for cooking
  </li>
  <li>
    <strong> Legal costs </strong> for housing can include attorney fees, title
    insurance, and other closing costs
  </li>
  <li>
    <strong> Utility costs </strong> for housing refer to the cost of running a
    home, such as electricity, gas, water, sewage, and garbage collection.
  </li>
  <li>
    <strong> A management reserve </strong> is a portion of a project budget
    that's set aside for unexpected work or risks that are within the project's
    scope.
  </li>
  <li>
    <strong> Maintenance reserve </strong>, also known as a repair fund, is a
    set amount of money that's saved to cover unexpected expenses for a
    property.
  </li>
  <li>
    <strong> Property tax </strong> is an annual or semiannual charge levied by
    a local government and paid by the owners of real estate within its
    jurisdiction.
  </li>
</ul>
{% endblock %}
